<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (recs.length != 0) { %>
    <h2>recommendations go here</h2>
  <% } else { %>
    <h2>No recommendations yet!</h2>
  <% } %>
</main>

<%- include('../partials/footer') %>