<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="top-margin">
    <% if (self) { %>
      <form action="/recs" method="post">
        <input type="url" name="spotifyId" id="spotify-link"
        title="Link must start with https://open.spotify.com/track/"
        placeholder="Spotify share link"
        pattern="https://open.spotify.com/track/.*"
        size="54" required>
        <textarea name="recMessage" id="rec-message" cols="40" rows="7"
        maxlength="280" placeholder="Check out this song!" wrap="hard">Check out this song!</textarea>
        <div>
          <label for="mood">Listen when you need to:</label>
          <select name="mood" id="mood">
            <option value="neutral"></option>
            <option value="focus">Focus</option>
            <option value="energize">Energize</option>
            <option value="chill">Chill</option>
            <option value="positive">Stay Positive</option>
            <option value="grieve">Grieve</option>
          </select>
          <button type="submit">Recommend</button>
        </div>
      </form>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>